<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CRUD Node</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>

        <!-- right items -->
        <ul class="navbar-nav ml-auto">
            {{#if user}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
                        Tasks Operations
                    </a>
                    <div class="dropdown-menu">
                        <a href="/tasks" class="dropdown-item">Tasks</a>
                        <a href="/tasks/add" class="dropdown-item">Add Task</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">Logout</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/users/register" class="nav-link">Register</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>
