<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">A CRUD and Login Using Nodejs, and Javascript technologies</p>
    <a href="/tasks/add" class="btn btn-dark btn-lg">Add a Task</a>
</div>
