<div class="card card-body">
    <h3>Add Task</h3>
    <form action="/tasks/add" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea class="form-control" name="details" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark">
            Add
        </button>
    </form>
</div>
