<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/fazt-logo.png" class="logo">
            <h3 class="text-center">Account Login</h3>
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input name="email" type="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input name="password" type="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
